@font-face{
   font-family: 'montserrat';
   font-weight: 300;
   font-style: normal;
   src: local('montserrat-300'),
         url('../fonts/montserrat-300.woff2') format('woff2');
   font-display: swap;
}
@font-face{
   font-family: 'montserrat';
   font-weight: 400;
   font-style: normal;
   src: local('montserrat-regular'),
         url('../fonts/montserrat-regular.woff2') format('woff2');
   font-display: swap;
}
@font-face{
   font-family: 'montserrat';
   font-weight: 500;
   font-style: normal;
   src: local('montserrat-500'),
         url('../fonts/montserrat-500.woff2') format('woff2');
   font-display: swap;
}
@font-face{
   font-family: 'montserrat';
   font-weight: 600;
   font-style: normal;
   src: local('montserrat-600'),
         url('../fonts/montserrat-600.woff2') format('woff2');
   font-display: swap;
}
@font-face{
   font-family: 'montserrat';
   font-weight: 700;
   font-style: normal;
   src: local('montserrat-700'),
         url('../fonts/montserrat-700.woff2') format('woff2');
   font-display: swap;
}
@font-face{
   font-family: 'montserrat';
   font-weight: 800;
   font-style: normal;
   src: local('montserrat-800'),
         url('../fonts/montserrat-800.woff2') format('woff2');
   font-display: swap;
}

@font-face{
   font-family: 'raleway';
   font-weight: 400;
   font-style: normal;
   src: local('raleway-regular'),
         url('../fonts/raleway-regular.woff2') format('woff2');
   font-display: swap;
}
@font-face{
   font-family: 'raleway';
   font-weight: 500;
   font-style: normal;
   src: local('raleway-500'),
         url('../fonts/raleway-500.woff2') format('woff2');
   font-display: swap;
}
@font-face{
   font-family: 'raleway';
   font-weight: 600;
   font-style: normal;
   src: local('raleway-600'),
         url('../fonts/raleway-600.woff2') format('woff2');
   font-display: swap;
}


@font-face{
   font-family: 'inter';
   font-weight: 400;
   font-style: normal;
   src: local('inter-regular'),
         url('../fonts/inter-regular.woff2') format('woff2');
   font-display: swap;
}
@font-face{
   font-family: 'inter';
   font-weight: 900;
   font-style: normal;
   src: local('inter-900'),
         url('../fonts/inter-900.woff2') format('woff2');
   font-display: swap;
}


@font-face{
   font-family: 'mr-dafoe-regular';
   font-weight: 400;
   font-style: normal;
   src: local('mr-dafoe-regular'),
         url('../fonts/mr-dafoe-regular.woff2') format('woff2');
   font-display: swap;
}